## Arithmetic operators

#### Addition

In [4]:
x = 15 + 23
print (x , type (x))

38 <class 'int'>

Addition with a float

In [11]:
x = 15 + 2.3
print (x , type (x))

17.3 <class 'float'>

#### Subtraction

In [3]:
x = 26 - 50
print (x , type (x))

-24 <class 'int'>

Subtraction with a float

In [10]:
x = 26 - 5.6
print (x , type (x))

20.4 <class 'float'>

#### Division

In [2]:
x = 20 / 4
print (x , type (x))

5.0 <class 'float'>

Division will return a floating variable

In [5]:
x = 22 / 4
print (x , type (x))

5.5 <class 'float'>

#### Remainder using modulus

In [6]:
x = 22 % 4
print (x , type (x))

2 <class 'int'>

#### Multiplication

In [7]:
x = 6 * 8
print (x , type (x))

48 <class 'int'>

Multiplication with a float

In [9]:
x = 6 * 5.4
print (x , type (x))

32.400000000000006 <class 'float'>

#### Exponential

In [13]:
x = 15 ** 2
print (x , type (x))

225 <class 'int'>

Exponential with a float

In [14]:
x = 15.2 ** 2
print (x , type (x))

231.04 <class 'float'>

#### Root