## Comparison Operators

#### Types   

This will return a boolean to whether the criteria passed is True or False  

< , > , <= , >= , == , !=

#### Less than and Greater than
Comparing that 25 is smaller than 30.

In [1]:
25 < 30

True

In [2]:
25 > 30

False

#### Less than and/or Equal too 
Comparing that 5 multiplied by 3 is less than or equal to 5 to the power of 3.

In [3]:
5 * 3 <= 5 ** 3

True

In [4]:
15 <= 125

True

#### Equivalence 
Comparing that 100 is equal to 10 square.

In [5]:
100 == 10 ** 2

True

#### Not Equal
Comparing that 53 is not equal to 46.

In [6]:
53 != 46

True