# Python Basics

**Introduction**

The following tutorial covers a basic introduction to the Python programming language, and using the Numpy library for mathematical computing.

## Introduction

Python is a great general-purpose programming language on its own, but with the help of a few popular libraries (numpy, scipy, matplotlib) it becomes a powerful environment for mathematical computing.

This is a quick crash course both on the Python programming language and on the use of Python for mathematical computing.

In this notebook, we will cover:

* Python Basics: 

 Basic data types( Intergers, Floats, Strings, Boolean) 

 Basic data structures(Containers, Lists, Dictionaries, Sets, Tuples)
 
 Basic functions

* Challenges:
 
 Interactive session working through some python exercises

 

 ![alt text](https://www.csetutor.com/wp-content/uploads/2018/01/data-structure.png)

## Basics of Python

Python is a high-level, dynamically typed multiparadigm programming language. Python code is often said to be almost like pseudocode, since it allows you to express very powerful ideas in very few lines of code while being very readable

**NOTE**: You can execute the code in a cell by clicking inside the cell and pressing both **Shift+Enter** at the same time.

### Basic data types

#### Numbers
Integers and Floats

##### Integers

In [1]:
# declare an interger variable 
x = 3
print(x, type(x))

3 <class 'int'>

In [2]:
# Addition
print(x + 1)  

# Subtraction
print(x - 1)  

# Multiplication
print(x * 2)  

# Exponentiation
print(x ** 2)

4
2
6
9

###### Floats

In [3]:
# Declare a floating point variable
y = 2.5
print(y, type(y))

2.5 <class 'float'>

In [4]:
# Addition
print(y + 1)  

# Subtraction
print(y - 1)  

# Multiplication
print(y * 2)  

# Exponentiation
print(y ** 2)

3.5
1.5
5.0
6.25

#### Booleans

Python implements all of the usual operators for Boolean logic, but uses English words rather than symbols (`&&`, `||`, etc.):

In [5]:
# Declare boolean variable

t, f = True, False
print(t, type(t)) 
print(f, type(f))

True <class 'bool'>
False <class 'bool'>

Now let's look at the operations:

In [6]:
# Logical AND (both conditions must be true to pass test)
print(t and f) 

# Logical OR (any or both conditions must be true to pass test)
print(t or f)  

 # Logical NOT (returns inverse of a boolean)
print(not t)  

# Logical XOR (only one conditions must be true to pass test)
print(t != f)

False
True
False
True

#### Strings

In [7]:
# Strings can be represented using single quotes
hello = 'hello'
print(hello)
# As well as double quotes, it makes no difference
world = "world"
print(world)
# Using the 'len' function we can see how long a particular string or sentence is
print(hello , len(hello))

hello
world
hello 5

In [10]:
# String concatenation (joining of mulitple strings)
hw = hello + ' ' + world
print(hw)

hello world

String objects have a bunch of useful methods; for example:

In [11]:
s = "hello"

 # Capitalize a string
print(s.capitalize()) 

 # Convert a string to uppercase
print(s.upper())  

# Right-justify a string, padding with spaces
print(s.rjust(5))   

 # Center a string, padding with spaces
print(s.center(7))    

# Replace all instances of one substring with another
print(s.replace('l', '(ello)'))  

# Strip leading and trailing whitespace
print('    world    '.strip())

Hello
HELLO
hello
 hello
he(ello)(ello)o
world

### Containers

Python includes several built-in container types: lists, dictionaries, sets, and tuples.

#### Lists

A list is the Python equivalent of an array, but is resizeable and can contain elements of different data types:

In [12]:
# Create a list
xs = [3, 1, 2]   
print(xs)

# Positive indices count from the start of the list starting at 0
print(xs[0])
print(xs[2])

 # Negative indices count from the end of the list starting at -1
print(xs[-3])

[3, 1, 2]
3
2
3

In [13]:
 # Lists can contain elements of different types
 xs[1] = 'hello' 
print(xs)

[3, 'hello', 2]

In [14]:
# Add a new element to the end of the list
xs.append('bob')
print(xs)

[3, 'hello', 2, 'bob']

In [15]:
# Remove and return the last element of the list
  
print()

#### Slicing

In addition to accessing list elements one at a time, Python provides concise syntax to access sublists; this is known as slicing:

In [16]:
# range is a built-in function that creates an iterator, which we turn into a list of integers beginning at 0
nums = list(range(5))   

# Prints "[0, 1, 2, 3, 4]"
print(nums)  

# Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"
print(nums[2:5])    

# Get a slice from index 2 to the end; prints "[2, 3, 4]"
print(nums[1: ])  

# Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
print(nums[ :3])    

# Get a slice of the whole list; prints "[0, 1, 2, 3, 4]"
print(nums[:]) 

# Slice indices can be negative; prints "[0, 1, 2, 3]"
print(nums[:-1])    

# Assign a new sublist to a slice
nums[2:4] = [8, 9] 

# Prints "[0, 1, 8, 8, 4]"
print(nums)

[0, 1, 2, 3, 4]
[2, 3, 4]
[1, 2, 3, 4]
[0, 1, 2]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 8, 9, 4]

#### Loops

You can loop over the elements of a list like this:

In [17]:
animals = ['cat', 'dog', 'rabbit']
for animal in animals:
    print(animal)

cat
dog
rabbit

If you want access to the index of each element within the body of a loop, use the built-in `enumerate` function:

In [18]:
animals = ['cat', 'dog', 'rabbit']
for idx, animal in enumerate(animals):
    print('#{}: {}'.format(idx + 1, animal))

#1: cat
#2: dog
#3: rabbit

#### List comprehensions:

When programming, we frequently want to transform one type of data into another. As a simple example, consider the following code that computes square numbers:

In [19]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

[0, 1, 4, 9, 16]

You can make this code simpler using a list comprehension:

In [20]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)

[0, 1, 4, 9, 16]

List comprehensions can also contain conditions:

In [21]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16]

#### Dictionaries

A dictionary stores (key, value) pairs, similar to a `Map` in Java or an object in Javascript. You can use it like this:

In [22]:
# Create a new dictionary with some data
d = {'cat': 'nasty', 'dog': 'furry'}

 # Get an entry from a dictionary
print(d['cat'])    

# Check if a dictionary has a given key
print('cat' in d)

nasty
True

In [23]:
# Set an a new entry in a dictionary
d['fish'] = 'wet'    
print(d['fish'])      
print(d)

wet
{'cat': 'nasty', 'dog': 'furry', 'fish': 'wet'}

In [24]:
 # KeyError: reqquesting data that does not exist in the dictionary 
print(d['rabbit'])  #'rabbit' not a key of d

KeyError: 'rabbit'

In [25]:
# Get an element with a default;
print(d.get('rabbit', 'N/A')) 

 # Get an element with a default
print(d.get('fish', 'N/A'))  
print(d)

N/A
wet
{'cat': 'nasty', 'dog': 'furry', 'fish': 'wet'}

In [26]:
# Remove an element from a dictionary

print(d)

{'cat': 'nasty', 'dog': 'furry', 'fish': 'wet'}

It is easy to iterate over the keys in a dictionary:

In [27]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal in d:
    legs = d[animal]
    print('A {} has {} legs'.format(animal, legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

If you want access to keys and their corresponding values, use the iteritems method:

In [28]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal, legs in d.items():
    print('A {} has {} legs'.format(animal, legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

Dictionary comprehensions: These are similar to list comprehensions, but allow you to easily construct dictionaries. For example:

In [29]:
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print(even_num_to_square)

{0: 0, 2: 4, 4: 16}

#### Sets

A set is an unordered collection of distinct elements. As a simple example, consider the following:

In [30]:
# Creating a set 
animals = {'cat', 'dog'}

# Check if an element is in a set
print('cat' in animals)   
print('fish' in animals)

True
False

In [31]:
# Adding an element to a set
animals.add('fish')      
print('fish' in animals)

# Number of elements in a set
print(len(animals))      
print(animals)

True
3
{'dog', 'fish', 'cat'}

In [32]:
# Adding an element that is already in the set does nothing
animals.add('cat')       
print(len(animals))  

# Remove an element from a set
animals.remove('cat')    
print(len(animals))    
print(animals)

3
2
{'dog', 'fish'}

_Loops_: Iterating over a set has the same syntax as iterating over a list; however since sets are unordered, you cannot make assumptions about the order in which you visit the elements of the set:

In [33]:
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print('#{}: {}'.format(idx + 1, animal))

#1: dog
#2: fish
#3: cat

#### Tuples

A tuple is an (immutable) ordered list of values. A tuple is in many ways similar to a list; one of the most important differences is that tuples can be used as keys in dictionaries and as elements of sets, while lists cannot. Here is a trivial example:

In [34]:
# Create a dictionary with tuple keys
d = {(x, x + 1): x for x in range(10)} 

# Create a tuple
t = (5, 6)       
print(t, type(t))
print(d[t])       
print(d[(1, 2)])
print(d[2,3])

(5, 6) <class 'tuple'>
5
1
2

In [35]:
print(d)

{(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4, (5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}

### Functions

Python functions are defined using the `def` keyword. For example:

In [36]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print(sign(x))

negative
zero
positive

In [37]:
sign(0)

'zero'

We will often define functions to take in optional keyword arguments, like this:

In [38]:
def hello(name, loud=False):
    if loud:
        print('HELLO, {}'.format(name.upper()))
    else:
        print('Hello, {}!'.format(name))

hello('Bob')
hello('Fred', loud=True)

Hello, Bob!
HELLO, FRED

#### Function Examples

Basic sorting functions

> Sort the list in alphabetical order

In [39]:
list_words = ['giraffe' , 'apple', 'bob' , 'cat' , 'xray']

def basic_sort(words):
  words.sort()
  return words

In [40]:
basic_sort(list_words)

['apple', 'bob', 'cat', 'giraffe', 'xray']

Conditional sort function


>Create a function that takes in a list, sorts the list and will print out all the items of a list that satisfy a condition
i.e print all even numbers

In [41]:
list_num = [1, 1, 2,44, 3, 5, 8, 13, 21, 34, 55, 89]

def even_num(list1):
  list1.sort()
  return ([x for x in list1 if x %2 ==0])

In [42]:
even_num(list_num)

[2, 8, 34, 44]

Now lets take the example above and apply an opperation to it

In [43]:
list_num = [1, 1, 2,44, 3, 5, 8, 13, 21, 34, 55, 89]

def even_num(list1):
  list1.sort()
  return ([(x, x*2 , x +2) for x in list1 if x %2 ==0])

In [44]:
even_num(list_num)

[(2, 4, 4), (8, 16, 10), (34, 68, 36), (44, 88, 46)]

Conditional Function - Loops

In [45]:
def sq_odd(num_list):
  numbers = []
  for i in range(len(num_list)):
    x = int(num_list[i])
    if x % 2 == 1:
      numbers.append(x**2)

    
  return numbers

In [46]:
sq_odd([-1,-2,-3,-4,4,5,66,77,88,99,0,123,234,345,456])

[1, 9, 25, 5929, 9801, 15129, 119025]