## Lists

A list is the Python equivalent of an array, but is resizeable and can contain elements of different data types:

#### Defining a list

In [1]:
Numbers = [10, 25, 40, 50]

#### Returning elements of the list
**Note** Indexing starts at 0

In [2]:
print ( Numbers[2] )

40

Alternatively

In [3]:
Numbers[0]

10

#### Returning values from the back
**Note** Indexing starts at 1

In [4]:
Numbers[-3]

25

#### Replacing values

In [5]:
Numbers[0] = 15
Numbers

[15, 25, 40, 50]

#### Removing Values

In [6]:
del Numbers[1]
Numbers

[15, 40, 50]

#### Appending values

In [7]:
Numbers.append(60)
print (Numbers)

[15, 40, 50, 60]

List are special as they can contain both `int` and `string` data types

In [8]:
mixed = ['apple' , 1 , 2 , 'bob']
print ( mixed )
print ( mixed[0])

['apple', 1, 2, 'bob']
apple